@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  .rotate-animation {
    animation: rotate 0.3s ease-in-out;
  }
  